body{
	background: black;
	color: whitesmoke;
}
header{
	border: 15px powderblue solid;
	text-align: center;


}
form{

	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	border: 8px rosybrown groove;
	border-radius: ;

}

form > div{
	margin: 1.5em;
}